/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
body {}


/*********************
HELPER STYLES
*********************/


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    text-indent: -9999px;
    &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
}

/*********************
LINK STYLES
*********************/
a, a:visited {


	// Adds highlight on hover
	&:hover, &:focus {

	}

	// On click
	&:active {

	}

	// Mobile tap color
	&:link {
		/*
		This highlights links on iPhones/iPads.
		Similar to the :hover selector for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
p {}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	@include clearfix;
	ul.off-canvas-list li {
		list-style: none;

	}

}

    
/*********************
NAVIGATION STYLES
*********************/


.top-bar {
	top:30px;
	.title-area {
		z-index: 1;
	}

} 
.top-bar-nav-right{
	li a{
font-size: 16px !important;
}
}

.top-bar-section-a{    
	height: 100px;
	color:$text;
}


.page-template-top{
	.top-bar-section-a{    
color:$white !important;
}
ul li a{
	color:$white !important;
}

}




.logo{max-width: 150px;
height:auto;}
.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

body.f-topbar-fixed {
  padding-top: 0 !important;
}

.nav-top-c{
	position:fixed;
	background-color: transparent;
  background: transparent;
 
 -webkit-transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
     -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;


}

 .scrolled {
    background: rgb(68, 68, 68); //IE
    background-color: rgba(#ffb487, .6);
}






/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.hentry {

	header {}

	
}

.single-title,
.page-title {}

.single-title {}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
		}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
		}

} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/

#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
		background: $secondary-color;
	}

	li.depth-2 {}
	li.depth-3 {
		background: darken($secondary-color, 5%);
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		@include button($padding: $button-sml);
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// no comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	#searchsubmit {
	}

	.widgettitle {}

	.widget {
		ul {
			margin: 0;

			li {
				list-style: none;

				&:first-child {}

				&:last-child {}

				a {}

				// deep nesting  
				ul {}

			}

		}
		@media #{$medium-up} {
			padding: 0 10px;
			margin: 2.2em 0;
  		}

	}

#sidebar-offcanvas {
	.widgettitle {
		color: #fff;
	}	
}
/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	margin-top: 1em;
}

.footer-links {} 

.copyright {}

.socialmedia-container{ 
	background-color: #EEEEEE;

}

.socialmedia-title{
	margin-top: 6%;
}
.facebook-link{
    width: 50px;
    height: 50px;
    display: inline-block;
    background: url("http://haej.noriakihattori.com/wp-content/themes/haej-dev/assets/images/facebook.jpg");
    background-repeat: none;
}
.twitter-link{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    display: inline-block;
    background: url("http://haej.noriakihattori.com/wp-content/themes/haej-dev/assets/images/twitter.jpg");
    background-repeat: none;
}


.facebook-link:hover, .twitter-link:hover{
    background-position: -60px 0px;
}

.socialmedia-icons{text-align: center;
    margin-top: 4%;
    margin-bottom: 7%;

}

.newsletter-title {
    

    margin-top: 4%;
    margin-bottom: 5%;

  }


/*********************
FOUNDATION STYLES
*********************/
.clearing-assembled.clearing-blackout a:hover {
	background: none;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}



/*********************
Animated checkboxes
*********************/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-custom {
	padding: 0 3em;
	max-width: 900px;
	margin: 0 auto;
				h2 {
			font-size: 3em;
			font-weight: 300;
			padding: 0 0 0.5em;
			margin: 0 0 30px;}

			ul,ol {
			list-style: none;
			padding: 0;
			margin: 0 auto;
			max-width: 800px;}

			li {
			margin: 0 auto;
			padding: 1em 0;
			position: relative;}

			label {
			display: inline-block;
			position: relative;
			font-size: 1.2em;
			padding: 0 0 0 80px;
			vertical-align: top;
			color: rgba(0,0,0,0.2);
			cursor: pointer;
			-webkit-transition: color 0.3s;
			transition: color 0.3s;}

			input[type="checkbox"],input[type="radio"],label::before {
			width: 40px;
			height: 40px;
			top: 60%;
			left: 0;
			margin-top: -25px;
			position: absolute;
			cursor: pointer;}

			input[type="checkbox"],input[type="radio"] {
			opacity: 0;
			-webkit-appearance: none;
			display: inline-block;
			vertical-align: middle;
			z-index: 100;}

			label::before {
			content: '';
			border: 4px solid #fff;
			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;}


}



.ac-radio label::before {
	border-radius: 50%;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
	color: #fff;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	left: 5px;
	pointer-events: none;
}

.ac-custom svg path {
	stroke: #fdfcd3;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	left: 10px;
	position: absolute;
}

.ac-circle label::before {
	background-color: #fff;
	border: none;
}

.ac-circle svg {
	width: 70px;
	height: 70px;
	margin-top: -35px;
	left: -10px;
}

.ac-circle svg path {
	stroke-width: 5px;
} 

/* Box Fill */
.ac-boxfill svg path {
	stroke-width: 8px;
} 

/* Swirl */
.ac-swirl svg path {
	stroke-width: 8px;
}

/* List */
.ac-list ol {
	list-style: decimal;
	list-style-position: inside;
}

.ac-list ol li {
	font-size: 2em;
	padding: 1em 1em 0 2em;
	text-indent: -40px;
}

.ac-list ol li label {
	font-size: 1em;
	text-indent: 0;
	padding-left: 30px;
}

.ac-list label::before {
	display: none;
}

.ac-list svg {
	width: 100%;
	height: 80px;
	left: 0;
	top: 1.2em;
	margin-top: 0px;
}

.ac-list svg path {
	stroke-width: 4px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
}

.no-animated::before{border: 0 !important;
    cursor: default !important;
    width: 0px !important;
    height: 0px !important;}
    .no-animated{padding:0 !important;}

/*********************
form
*********************/
.container-form{
    background-color: $orange;
    margin-top: -20px;
    padding-top: 30px;
}
.container-submitt{    padding-bottom: 30px;
    margin-top: 30px;}




.form-title{
    text-align: center;
    margin-bottom: 10%;
	h1{font-size: 38px;}

}
.form-subtitle{
	    margin-top: 3%;
    margin-bottom: 1%;
}

/*********************
top-page
*********************/


.top-text {
    width: 40%;
    position: relative;
    top: -260px;
    left: 30px;
}

.top-news-container{
	    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.top-news-contents{
    line-height: 1.8em;

}

/*********************
top-two-page
*********************/
.top-two-container{
    margin-bottom: 5%;
    margin-top: 15%;
	h1{font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 5%;
	}
	p {
		line-height: 1.8;
    letter-spacing: 0.2px;
	}
}

/*********************
contact-page
*********************/


.form-container {
    margin-top: 10%;
    margin-bottom: 5%;
}
/*********************
news-page
*********************/
.news-content{ 
	text-align: left;
	 color: $text;

}
.entry-container{
	margin-top: 2%;
	margin-bottom: 2%;
}

.news {
    margin-bottom: 5%;
    margin-top: 20%;

}

.test{color:white;}

